In [7]:
fd = open('Student record.txt','a')


name = input('Enter the name : ')
roll_no = int(input('Enter the Roll number : '))
hindi = int(input('Enter the marks of Hindi : '))
eng = int(input('Enter the marks of English : '))
maths = int(input('Enter the marks of Maths : '))

data = name + "," + str(roll_no) +","+str(hindi)+","+str(eng)+','+str(maths)+'\n'

fd.write(data)

fd.close()

Enter the name : ranjit kumar
Enter the Roll number : 04
Enter the marks of Hindi : 89
Enter the marks of English : 90
Enter the marks of Maths : 98

In [23]:
data[0]

'r'

In [9]:
print('Name of the student : ' , name)
print('Roll No. of the student :' , roll_no)
print('Marks of hindi :', hindi)
print('Marks of english : ', eng)
print('Marks of maths : ', maths)
print('Total marks obtain by ',name, ': ',hindi + eng + maths)
print('percentage :',(hindi+eng+maths)/3,'%')

Name of the student :  ranjit kumar
Roll No. of the student : 4
Marks of hindi : 89
Marks of english :  90
Marks of maths :  98
Total marks obtain by  ranjit kumar :  277
percentage : 92.33333333333333 %

In [20]:
fd = open('Student record.txt','r')
txt = fd.read()
fd.close()

In [22]:
txt.split('\n')

['Nitesh Kumar,1,80,85,87',
 'Rahul kumar,2,67,78,98',
 'Suresh kumar,3,89,90,98',
 'ranjit kumar,4,89,90,98',
 '']